* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #0c192c;
    min-height: 100vw;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, h7, p, span {
    font-family: 'Roboto', sans-serif;
}

.answer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

#quiz {
    margin: 10vh 30vw;
    position: absolute;
    width: 40vw;
}

#question {
    margin: 1rem 0;
}

.text-center {
    text-align: center;
    color: white;
}

button {
    display: block;
    width: 300px;
    color: white;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 25%);
    backdrop-filter: blur(10px);
    border: 3px solid white !important;
}

.answer {
    margin: auto auto;
    margin-bottom: 2%;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.answer:hover {
    background: rgba(79, 195, 220, 0.40);
    backdrop-filter: blur(10px);
    transition: all .3s;
}

.answer.active {
    background: rgba(58, 0, 63, 0.50);
    backdrop-filter: blur(10px);
}

#confirm {
    margin: auto auto;
    background: rgba(0, 57, 18, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    color: white;
    border-radius: 25px;
}

#confirm:hover {
    background: rgba(0, 59, 19, 0.75);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all .3s;
}

.error {
    background: rgba(144, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    color: white;
}

.correct {
    background: green;
    color: white;
    animation: lightCorrect .5s infinite;
}

#gameOverError {
    background: rgba(0, 0, 0, 30%);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

#status {
    padding: 10px;
    position: absolute;
    margin-top: 20%;
    margin-left: 37vw;
    text-align: center;
    color: white;
}

#status button {
    margin: 1rem;
}

.hidden {
    display: none;
}

.quiz-space div:nth-child(1) {
    position: relative;
}

.quiz-space div:nth-child(2) {
    position: relative;
    top: 20px;
    margin-left: 20px;
}

.quiz-space div:nth-child(3) {
    position: relative;
    top: 20px;
    margin-left: 20px;
}

@keyframes lightCorrect {
    0%, 49% {
        background: green;
    }

    50%, 100% {
        background: seagreen;
    }
}

@media only screen and (max-width: 2600px) {
    #quiz {
        margin: 0vh 5vw;
        position: absolute;
        width: 85vw;
    }
}

@media only screen and (max-width: 500px) {
    button {
        display: block;
        width: 270px;
        color: white;
        padding: 1rem;
        background: rgba(255, 255, 255, 25%);
        backdrop-filter: blur(10px);
        border: 3px solid white !important;
    }

    #status {
        padding: 10px;
        position: absolute;
        margin-top: 50%;
        margin-left: 2vw;
        text-align: center;
        color: white;
    }

    .answer {
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        margin: 14px;
    }
}